<div class="container body-content">

    <h1>@ViewBag.title</h1>

    <form action="/Search/Results" method="post">
        <h2>Search by:</h2>

        <p>
            @foreach (var column in ViewBag.columns)
            {
                <span>
                    <input type="radio" name="searchType" id="@column.Key" value="@column.Key"  />
                    <label for="@column.Key">@column.Value</label>
                </span>
            }

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    @{
//TODO #4: Loop over the search results to display all job fields.checked="@column.Key == 'all'"
    }


    @if (ViewBag.jobs != null)
    {

        <table class="job-listing">

            <tbody>
                @foreach (var i in ViewBag.jobs)
                {
                    string employer = String.Format("{0}", i.Employer);
                    string location = String.Format("{0}", i.Location);
                    string position = String.Format("{0}", i.PositionType);
                    string cc = String.Format("{0}", i.CoreCompetency);
                    <tr>

                        <td>
                            ID: @i.Id  <br />Name: @i.Name <br />Employer:@Html.ActionLink(employer, "HyperLink", "Search", routeValues: new { searchTerm = i.Employer })
                            <br />Location:@Html.ActionLink(location, "HyperLink", "Search", routeValues: new { searchTerm = i.Location })  <br />Position: @Html.ActionLink(position, "HyperLink", "Search", routeValues: new { searchTerm = i.PositionType })
                            <br />Core Competency:@Html.ActionLink(cc, "HyperLink", "Search", routeValues: new { searchTerm = i.CoreCompetency })
                        </td>



                    </tr>
                }




            </tbody>


        </table>
    }








</div>