<div class="container body-content">

    <h1>@ViewBag.title</h1>

    @{
        //TODO #1: Use a loop to display job results in a table.
    }
    <table class="job-listing">
        
        <tbody>
            @foreach (var i in ViewBag.jobs)
            {
            <tr>
               
                <td>ID: @i.Id <br />Name: @i.Name <br />Employer: @i.Employer
                <br />Location: @i.Location <br />Position: @i.PositionType
                <br />Core Competency: @i.CoreCompetency
                </td>
                
          
                
            </tr>
            }
            

            
            
        </tbody>


    </table>
  


</div>